@import 'nib'
@import '../../node_modules/jeet/jeet.styl'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #000
$secondary ?= #fff
$red ?= #e63911
$blue ?= #006fb1

// Metrics
$padding = 3rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

webfont('U', 'U', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	font-family 'U', Helvetica Neue, Arial, sans-serif
	font-size 1rem
	text-rendering optimizeLegibility
	font-smoothing()
	color $secondary

p
	margin-bottom 1em
	line-height 100%

p:last-child
	margin-bottom 0

::selection
	background $secondary

::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazyimg
	hideselect()
	transition(opacity 400ms ease)
	opacity 0

.lazyimg.lazyloaded, .lazyimg.flickity-lazyloaded
	opacity 1

[event-target]
	cursor pointer

#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 900
	a
		border-bottom 1px solid
	.inner
		padding 8rem 20%

.no-js, .no-svg, .no-flexbox
	#outdated
		display block

@keyframes pulse {
		0% {
				//transform(scale(0.5))
				fill $red
		}
		50% {
				//transform(scale(0.5))
				fill $red
		}
		50.001% {
				//transform(scale(1))
				fill $blue
		}
		100% {
				//transform(scale(1))
				fill $blue
		}
}

@keyframes flash {
		0% {
				vendor(filter, invert(1))
		}
		25% {
				vendor(filter, invert(1))
		}
		25.001% {
				vendor(filter, invert(0))
		}
		50% {
				vendor(filter, invert(0))
		}
		50.001% {
				vendor(filter, invert(1))
		}
		100% {
				vendor(filter, invert(1))
		}
}

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	//background $primary url('../../images/loader.gif') center no-repeat
	background $primary
	background-size 15px
	z-index 10000
	.spinner
		width 50px
		height 50px
		align()
		.circular
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				animation pulse .5s ease-in-out infinite alternate
				stroke $red
				fill $red
				// stroke-dasharray 1, 200
				// stroke-dashoffset 0

#landing
	transition opacity 700ms ease, visibility 700ms ease
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $secondary
	z-index 9000
	img
		margin-top 1%
		width 40%
		vendor(filter, invert(1))
		align()

#landing.negative
	animation flash .6s forwards

#landing.hidden
	opacity 0
	visibility hidden

header
	text-align center
	position fixed
	width 100%
	top 0
	left 0
	mix-blend-mode difference
	z-index 1000
	#site-title
		width 9rem
		padding 1rem
		margin-top 0.4rem
		display inline-block

#wrapper
	section
		height 100vh
		overflow hidden

.menu-dot
	transition(transform 800ms $kinetic)
	cursor pointer
	position fixed
	bottom $padding
	width 5rem
	height 5rem
	z-index 300
	+below($md)
		width 3.5rem
		height 3.5rem
	svg
		width 100%
		height 100%

.menu-dot.left
	transform(translateX(-200%) translateZ(0))
	left $padding
	svg, circle, line
		stroke $red
	line
		display none
	:hover
		svg, circle
			fill $red

.menu-dot.right
	transform(translateX(200%) translateZ(0))
	right $padding
	svg, circle, line
		stroke $blue
	line
		display none
	:hover
		svg, circle
			fill $blue

.menu-dot.visible
	transform(translateX(0%) translateZ(0))

.menu-dot.active
	circle
		display none
	line
		display block

#contributors::-webkit-scrollbar, #stockists::-webkit-scrollbar
	display none

#contributors
	transition(transform 500ms $kinetic)
	transform(translateY(100%) translateZ(0))
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	padding ($padding+1) $padding
	overflow-y scroll
	-webkit-overflow-scrolling touch
	text-align center
	color $red
	font-size 6vw
	mix-blend-mode difference
	z-index 200
	+below($md)
		font-size 8vw
		padding 5rem 2rem 8rem

#stockists
	transition(transform 500ms $kinetic)
	transform(translateX(100%) translateZ(0))
	position fixed
	top 0
	right 0
	width 50%
	height 100%
	text-align center
	z-index 200
	overflow-y scroll
	-webkit-overflow-scrolling touch
	padding $padding
	font-size 3vw
	+below($md)
		width 100%
		font-size 8vw
		padding 5rem 2rem 8rem

#buy
	transition(transform 500ms $kinetic)
	transform(translateX(-100%) translateZ(0))
	position fixed
	top 0
	left 0
	width 50%
	height 100%
	font-size 8vw
	color $blue
	text-align center
	mix-blend-mode difference
	z-index 200
	+below($md)
		display none
	.inner
		align()
		padding $padding

#buy-mobile
	+above($md + 1)
		display none

#filter-overlay
	transition(transform 500ms $kinetic)
	transform(translateX(100%) translateZ(0))
	position fixed
	top 0
	right 0
	width 50%
	height 100%
	mix-blend-mode multiply
	background $blue
	z-index 190
	+below($md)
		width 100%

#contact
	transition(transform 500ms $kinetic)
	transform(translateY(-100%) translateZ(0))
	position fixed
	top 0
	left 0
	width 100%
	padding 8rem $padding $padding
	background $secondary
	color $primary
	text-align center
	font-size 2rem
	z-index 210
	+below($md)
		font-size 2vmax

#contributors.visible, #stockists.visible, #contact.visible, #buy.visible, #filter-overlay.visible
	transform(translateZ(0))

#manifesto
	position relative
	.inner
		width 100%
		align()
		text-align center
		font-size 2.35vmax
		padding 8rem
		+below($md)
			font-size 2.5vmax
			padding 2rem

@keyframes vortex {
	0% {
	transform(rotateZ(0deg) rotateY(0deg))
	}
	100% {
	transform(rotateZ(0deg) rotateY(360deg))
	}
}

#issue
	position relative
	.inner
		align()
		width 50vh
		max-width 800px
		.issue-stage
			vendor(perspective, 1000px)
			perspective-origin 50% 50%
			.issue-model
				transform-origin center
				transition(transform 500ms $kinetic)
				//animation vortex 10s linear infinite
				vendor(transform-style, preserve-3d)
				vendor(backface-visibility, hidden)
				will-change transform
				.frontpage, .backpage
					will-change transform
					vendor(backface-visibility, hidden)
					vendor(transform-style, flat)
				.sizer
					opacity 0
				.frontpage
					position absolute
					top 0
					left 0
					//transform(translate3d(0px, 0px, 8px))
				.backpage
					position absolute
					top 0
					left 0
					transform(rotateY(180deg) translate3d(0px, 0px, 1px))
		:hover
			.issue-model
				transform(rotateZ(0deg) rotateY(180deg))

#issue-2
	position relative
	cursor crosshair
	+above($md + 1)
		&:not(:hover)
			.front::after
				display none
	.front, .back
		position absolute
		top 0
		left 0
		width 100%
		height calc(100% + 2px)
		overflow hidden
		.inner
			height 100vh
			display flex
			justify-content space-around
			align-items center
		img
			width 50vh
			max-width 800px
			margin ($padding/2)
			+below($md)
				max-width 'calc(100% - %s)' % ($padding*2)
			&:nth-child(2)
				+below($md)
					display none
	.front
		z-index 2
		&::after
			content ''
			position absolute
			left 0
			bottom 0
			width 100%
			height 2px
			background #fff
			mix-blend-mode difference
	.back
		z-index 1

#overview
	#overview-slider
		span(1)
		display block
		height 100%
		.flickity-viewport
			cursor default
		.flickity-slider
			transform none !important
		.slide
			display block
			height 100%
			width 100%
			left 0 !important
			opacity 1
			z-index 1
			img
				position absolute
				top 0
				height 100%
				width auto
				+below($md)
					height 100%
					width 100%
					object-fit contain
			img.left
				+above($md + 1)
					left 0
			img.center
				+above($md + 1)
					align(horizontal)
			img.right
				+above($md + 1)
					right 0
		.slide.is-selected ~ .slide
			opacity 0
			z-index 0
		.flickity-prev-next-button
			top 0
			height 100%
			width 50%
			margin-top 0
			background transparent
			padding 0
			transform(none)
			border none
			z-index 10
			+below($md)
				display none
			svg
				display none
		.flickity-prev-next-button.previous
			cursor w-resize
			left 0
		.flickity-prev-next-button.next
			cursor e-resize
			right 0
